hx/round3/results/clinigence-health/downloads/version-5-extracted/Version 5 schema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.clinigence.com/patientdata_4" targetNamespace="http://www.clinigence.com/patientdata_4" version="1.0.3">
  <xs:element name="ClinigencePatientData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Actor" type="ActorType" minOccurs="0" maxOccurs="unbounded" />
        <xs:element name="Patient" type="PatientType" minOccurs="0" maxOccurs="unbounded" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="ActorPersonType">
    <xs:sequence>
      <xs:element name="DateOfBirth" type="xs:date" minOccurs="0" maxOccurs="1" />
      <xs:element name="Gender" type="gender-enum" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActorAliasType">
    <xs:sequence>
      <xs:element name="Description" type="string80" minOccurs="1" maxOccurs="1" />
      <xs:element name="LastName" type="string64" minOccurs="1" maxOccurs="1" />
      <xs:element name="FirstName" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="MiddleName" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="NamePrefix" type="string12" minOccurs="0" maxOccurs="1" />
      <xs:element name="NameSuffix" type="string12" minOccurs="0" maxOccurs="1" />
      <xs:element name="Degree" type="string12" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActorAddressType">
    <xs:sequence>
      <xs:element name="Description" type="string40" minOccurs="1" maxOccurs="1" />
      <xs:element name="AddressLine1" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="AddressLine2" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="City" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="State" type="string40" minOccurs="0" maxOccurs="1" />
      <xs:element name="Zip" type="string12" minOccurs="0" maxOccurs="1" />
      <xs:element name="Country" type="string40" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>


  <xs:complexType name="ActorCommunicationType">
    <xs:sequence>
      <xs:element name="CommunicationType" type="string16" minOccurs="1" maxOccurs="1" />
      <xs:element name="CommunicationName" type="string40" minOccurs="1" maxOccurs="1" />
      <xs:element name="CommunicationValue" type="string128" minOccurs="0" maxOccurs="1" />
      <xs:element name="Note" type="string80" minOccurs="0" maxOccurs="1" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ActorType">
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Key of the Actor who owns this Actor. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ShortName" type="string20" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A short or abbreviated description of the actor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="string80">
        <xs:annotation>
          <xs:documentation>The full description of the actor</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActorPerson" type="ActorPersonType" minOccurs="0" maxOccurs="1" />
      <xs:element name="ActorAlias" type="ActorAliasType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ActorAddress" type="ActorAddressType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ActorCommunication" type="ActorCommunicationType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="UniversalKey" type="MappingType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Relationship" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Actor" type="ActorReferenceType" />
            <xs:element name="Begin" type="xs:dateTime" />
            <xs:element name="End" type="xs:dateTime" minOccurs="0" />
          </xs:sequence>
          <xs:attribute name="type" type="actorRelationship-enum" />
        </xs:complexType>
      </xs:element>
      <xs:element name="Property" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="DateTime" type="xs:dateTime" minOccurs="0" />
            <xs:element name="Value" type="string" />
          </xs:sequence>
          <xs:attribute name="name" type="string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="ActorIndentifier-group" />
  </xs:complexType>

  <xs:attributeGroup name="ActorIndentifier-group">
    <xs:attribute name="type" type="actorType-enum" use="required">
      <xs:annotation>
        <xs:documentation>The type of actor (Person, Organization, Information System)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="class" type="string24" use="required">
      <xs:annotation>
        <xs:documentation>The class of actor (CMO, Provider, etc.)</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="key" type="string40" use="required">
      <xs:annotation>
        <xs:documentation>The internal or universal identifier for the actor that is recognized in the source system</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="keyDomain" type="string255" use="optional" />
    <xs:attribute name="keyOID" type="string64" use="optional" />
  </xs:attributeGroup>

  <xs:attributeGroup name="MeasureClass-group">
    <xs:attribute name="episodekey" type="xs:int" use="optional"/>
    <xs:attribute name="ipp" type="YesNo-enum" use="required"/>
    <xs:attribute name="denominator" type="YesNo-enum" use="optional"/>
    <xs:attribute name="numerator" type="YesNo-enum" use="optional"/>
    <xs:attribute name="exclusion" type="YesNo-enum" use="optional"/>
    <xs:attribute name="exception" type="YesNo-enum" use="optional"/>
    <xs:attribute name="gic" type="YesNo-enum" use="optional"/>
  </xs:attributeGroup>

  <xs:complexType name="PatientType">
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A reference to the Actor element for the Actor who legally owns the key. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="string255_nominimum" />
      <xs:element name="Relationship" minOccurs="0" maxOccurs="unbounded">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Actor" type="ActorReferenceType" />
            <xs:sequence minOccurs="0">
              <xs:element name="Begin" type="xs:dateTime" />
              <xs:element name="End" type="xs:dateTime" minOccurs="0" />
            </xs:sequence>
          </xs:sequence>
          <xs:attribute name="type" type="actorRelationship-enum" />
        </xs:complexType>
      </xs:element>
      <xs:element name="UniversalKey" type="MappingType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Program" type="ProgramType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="Object" type="ObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="key" type="string40" use="required" />
    <xs:attribute name="keyDomain" type="string255" use="optional" />
    <xs:attribute name="keyOID" type="string64" use="optional" />
  </xs:complexType>

  <xs:complexType name="ActorReferenceType">
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A reference to the Actor element for the Actor who legally owns the Actor record. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attributeGroup ref="ActorIndentifier-group" />
  </xs:complexType>

  <xs:complexType name="EvidenceType">
    <xs:sequence>
      <xs:element name="Evidence" type="xs:string" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="key" type="string40" />
  </xs:complexType>


  <xs:complexType name="ProviderReferenceType">
    <xs:complexContent>
      <xs:restriction base="ActorReferenceType">
        <xs:sequence>
          <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A reference to the Actor element for the Actor who legally owns the Actor record. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="actorType-enum" use="required" fixed="Person" />
        <xs:attribute name="class" type="string24" use="required" fixed="Provider" />
        <xs:attribute name="key" type="string40" use="required" />
        <xs:attribute name="keyDomain" type="string255" use="optional" />
        <xs:attribute name="keyOID" type="string64" use="optional" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="OrgReferenceType">
    <xs:complexContent>
      <xs:restriction base="ActorReferenceType">
        <xs:sequence>
          <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
            <xs:annotation>
              <xs:documentation>A reference to the Actor element for the Actor who legally owns the Actor record. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="type" type="actorType-enum" use="required" fixed="Organization" />
        <xs:attribute name="class" type="string24" use="required" />
        <xs:attribute name="key" type="string40" use="required" />
        <xs:attribute name="keyDomain" type="string255" use="optional" />
        <xs:attribute name="keyOID" type="string64" use="optional" />
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ObjectActorRelationshipType">
    <xs:complexContent>
      <xs:extension base="ActorReferenceType">
        <xs:attribute name="kind" type="providerRelationship-enum" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="PropertyActorRelationshipType">
    <xs:complexContent>
      <xs:extension base="ProviderReferenceType">
        <xs:attribute name="kind" type="providerRelationship-enum" use="required" fixed="CreatedBy" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:complexType name="ObjectType">
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A reference to the Actor element for the Actor who legally owns the object record. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mood" type="string24" minOccurs="0">
        <xs:annotation>
          <xs:documentation>CCD-style Mood code</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="string255"  minOccurs="0">
        <xs:annotation>
          <xs:documentation>Description of object</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Begin" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date/time object duration began.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="End" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date/time object duration ended. Omit element for point-in-time objects such as vaccinations.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UniversalKey" type="MappingType" minOccurs="0" maxOccurs="unbounded" />
      <xs:element name="ActorRelationship" type="ObjectActorRelationshipType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A relationship between this Object and an Actor, such as the health care provider who performed a procedure, if the object represents a procedure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A Property allows additional information to be provided about an object. For example, the Reason for an office visit could be a Property of an Object of class "Encounter"</xs:documentation>
        </xs:annotation>
      </xs:element>
	  <xs:element name="Object" type="ObjectType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="class" type="string20" use="required">
      <xs:annotation>
        <xs:documentation>A valid Clinigence Object Class</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="key" type="string40" >
      <xs:annotation>
        <xs:documentation>Unique identifier (within the owner and Class of this Object) for object in Owner's system</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="PropertyType">
    <xs:annotation>
      <xs:documentation>SubProperties have the same structure as Properties except that they have no Type, because they inherit the type of their ancestor Property.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A reference to the Actor element for the Actor who legally owns the property record. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="DateTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date/time property occurred or was observed. If omitted, then assumes Object BeginDateTime</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ActorRelationship" type="PropertyActorRelationshipType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>A relationship between this Object and an Actor, such as the health care provider who performed a procedure, if the object represents a procedure.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>A Property should have have at least one of:  Value, one or more Facts, one or more sub-Properties.</xs:documentation>
          <xs:documentation>A property should not have both a value and a fact.  Some early implementations used this pattern so it is allowed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="Value" type="string" minOccurs="0" >
            <xs:annotation>
              <xs:documentation>Value of property. May be used if value needs no further qualifications such as unit. If qualifications are needed then use a Fact to record the property value(s).</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="UniversalKey" type="MappingType" minOccurs="0" maxOccurs="unbounded" >
            <xs:annotation>
              <xs:documentation>A UniversalKey block specifies universal coding for the value of this property</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="Fact" type="FactType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A Fact is used to represent complex Property values. For example, if one has an Object of class "Vital Signs" that has a Property with key "BP", that Property might have two facts named "Systolic" and "Diastolic" with their respective values and units.</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Property" type="PropertyType" minOccurs="0" maxOccurs="unbounded">
          <xs:annotation>
            <xs:documentation>A sub-Property can be helpful when modeling complex data. A sub-Property has the same Type as its parent.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
    <xs:attribute name="name" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>Identifies property within Owner's system</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="string40">
      <xs:annotation>
        <xs:documentation>Index or secondary taxonomy of property in Owner's system. Use to prevent deduplication of properties in the same object with the same name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="MappingType">
    <xs:sequence>
      <xs:element name="OwnerActor" type="OrgReferenceType" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A reference to the Actor element for the Actor who legally owns the key. If omitted, owner is assumed to be the CMO for which this file was produced.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Domain" type="string255" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Name of the domain or coding system in which Key is a valid member</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OID" type="string64" minOccurs="0">
        <xs:annotation>
          <xs:documentation>A registered HL7 Object Identifier for the domain of this key. If the mapping domain is not in the HL7 OID Registry (http://www.hl7.org/oid/), please omit this element.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Key" type="string255">
        <xs:annotation>
          <xs:documentation>Actual code equivalent in standardized nomenclation/coding system</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Description" type="string255" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Human readable description of Key</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="MeasureClassType">
    <xs:attributeGroup ref="MeasureClass-group" />
  </xs:complexType>

  <xs:complexType name="MeasureType">
    <xs:sequence>
      <xs:element name="MeasureClass" type="MeasureClassType" minOccurs="0" maxOccurs="1" />
      <xs:element name="Evidence" type="EvidenceType" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Reference to an Object element indicating that object was used to determine patient disposition with regard to this measure</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Identifies measure</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="string255">
      <xs:annotation>
        <xs:documentation>Description of measure</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="GuidelineType">
    <xs:sequence>
      <xs:element name="Measure" type="MeasureType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Identifies Guideline</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="string255">
      <xs:annotation>
        <xs:documentation>Description of Guideline</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="ProgramType">
    <xs:sequence>
      <xs:element name="Guideline" type="GuidelineType" minOccurs="1" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attribute name="id" type="xs:int" use="required">
      <xs:annotation>
        <xs:documentation>Identifies Program</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="string255">
      <xs:annotation>
        <xs:documentation>Description of Program</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:complexType name="FactType">
    <xs:sequence>
      <xs:element name="DateTime" type="xs:dateTime" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Date/time fact was observed. Takes DateTime of parent Property if omitted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:sequence minOccurs="0" >
        <xs:element name="Value" type="string">
          <xs:annotation>
            <xs:documentation>A text, number, or date value</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="UniversalKey" type="MappingType" minOccurs="0" maxOccurs="unbounded" >
          <xs:annotation>
            <xs:documentation>A UniversalKey block specifies universal coding for value of this fact</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="Unit" type="string12" minOccurs="0">
          <xs:annotation>
            <xs:documentation>Unit of measure associated with fact Value. Unit should only be used for a numeric Value.</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
      <xs:element name="Location" type="string40" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Qualifier indicating where this fact was observed</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Abnormal" minOccurs="0">
        <xs:annotation>
          <xs:documentation>false: Fact is not abnormal; true: fact is abnormal</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:simpleContent>
            <xs:extension base="xs:boolean">
              <xs:attribute name="severity" type="xs:int" />
              <xs:attribute name="nature" type="string12">
                <xs:annotation>
                  <xs:documentation>Text indicating nature of abnormality (e.g. "High" or "Low")</xs:documentation>
                </xs:annotation>
              </xs:attribute>
              <xs:attribute name="normalRange" type="string40">
                <xs:annotation>
                  <xs:documentation>Test describing range of normal values for this fact</xs:documentation>
                </xs:annotation>
              </xs:attribute>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
      </xs:element>
      <xs:element name="SortOrder" type="xs:int" minOccurs="0" />
    </xs:sequence>
    <xs:attribute name="name" type="string255" use="required">
      <xs:annotation>
        <xs:documentation>Identifies fact within Owner's system</xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="index" type="string40">
      <xs:annotation>
        <xs:documentation>Index or secondary taxonomy of fact in Owner's system. Use to prevent deduplication of facts in the same property with the same name.</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>

  <xs:simpleType name="string12">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="12" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string16">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="16" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string20">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="20" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string24">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="24" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string40">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="40" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string64">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="64" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string80">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="80" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string128">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="128" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string255">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string255_nominimum">
    <xs:restriction base="xs:string">
      <xs:minLength value="0" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="string">
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="actorType-enum">
    <xs:restriction base="string24">
      <xs:enumeration value="Organization" />
      <xs:enumeration value="Person" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="YesNo-enum">
    <xs:restriction base="string">
      <xs:enumeration value="yes" />
      <xs:enumeration value="no" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="providerRelationship-enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreatedBy" />
      <xs:enumeration value="OrderedBy" />
      <xs:enumeration value="PerformedBy" />
      <xs:enumeration value="SupervisedBy" />
      <xs:enumeration value="SourceOrganization" />
      <xs:enumeration value="PlaceOfService" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="gender-enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Male" />
      <xs:enumeration value="Female" />
      <xs:enumeration value="Other" />
      <xs:enumeration value="Unknown" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="actorRelationship-enum">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Patient" />
      <xs:enumeration value="CMO Patient" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>