results/carecloud-inc/downloads/extracted/carevue-xsd/EHI_EXPORT.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <!-- definition of simple elements -->
  <xs:element name="fileNumber" type="xs:string"/>
  <xs:element name="fileName" type="xs:string"/>
  <xs:element name="fieldNumber" type="xs:string"/>
  <xs:element name="fieldName" type="xs:string"/>
  <xs:element name="internal" type="xs:string"/>
  <xs:element name="external" type="xs:string"/>
  <xs:element name="dateTime" type="xs:dateTime"/>
  <xs:element name="date" type="xs:date"/>

  <!-- definition of attributes -->
  <xs:attribute name="valueType">
  	<xs:simpleType>
    	<xs:restriction base="xs:string">
      	<xs:enumeration value="standard"/>
      	<xs:enumeration value="dateTime"/>
      	<xs:enumeration value="date"/>
	    <xs:enumeration value="wordProcessing"/>
  	    <xs:enumeration value="subfile"/>
  	    <xs:enumeration value="labAccessions"/>
  	    <xs:enumeration value="labTestResults"/>
  	    <xs:enumeration value="labMicroResults"/>
  	    <xs:enumeration value="susceptibilities"/>
    	</xs:restriction>
  	</xs:simpleType>
  </xs:attribute>

  <xs:attribute name="id" type="xs:decimal"/>

  <!-- definition of complex elements -->
  <xs:element name="value">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element minOccurs="0" ref="internal"/>
	      <xs:element ref="external"/>
  	  </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="line">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="text" type="xs:string"/>
  		</xs:sequence>
   		<xs:attribute name="lineNumber"/>
 		</xs:complexType>
  </xs:element>
  
  <xs:element name="wordProcessing">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element minOccurs="0" maxOccurs="unbounded" ref="line"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="accession">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="unbounded" ref="field"/>
   		</xs:sequence>
   		<xs:attribute ref="id" use="required"/>
 		</xs:complexType>
  </xs:element>

  <xs:element name="labAccessions">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element minOccurs="0" maxOccurs="unbounded" ref="accession"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="labTest">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="testName" type="xs:string"/>
  			<xs:element name="lrDataName" type="xs:string"/>
  			<xs:element minOccurs="1" maxOccurs="unbounded" ref="field"/>
   		</xs:sequence>
 		</xs:complexType>
  </xs:element>

  <xs:element name="labTestResults">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element minOccurs="0" maxOccurs="unbounded" ref="labTest"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="organism">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element name="organismName" type="xs:string"/>
  			<xs:element minOccurs="1" maxOccurs="unbounded" ref="field"/>
   		</xs:sequence>
 		</xs:complexType>
  </xs:element>

  <xs:element name="labMicroResults">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element minOccurs="0" maxOccurs="unbounded" ref="organism"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="susceptibilities">
  	<xs:complexType>
  		<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="unbounded" ref="field"/>
   		</xs:sequence>
 		</xs:complexType>
  </xs:element>

  <xs:element name="field">
	  <xs:complexType>
    	<xs:sequence>
      	<xs:element ref="fieldNumber"/>
	      <xs:element ref="fieldName"/>
	      <xs:element minOccurs="0" maxOccurs="1" ref="value"/>
	      <xs:element minOccurs="0" maxOccurs="1" ref="dateTime"/>
	      <xs:element minOccurs="0" maxOccurs="1" ref="date"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="wordProcessing"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="subfile"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="labAccessions"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="labTestResults"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="labMicroResults"/>
   			<xs:element minOccurs="0" maxOccurs="1"  ref="susceptibilities"/>
    	</xs:sequence>
  	  <xs:attribute ref="valueType"/>
  	</xs:complexType>
  </xs:element>

  <xs:element name="record">
  	<xs:complexType>
    	<xs:sequence>
  			<xs:element minOccurs="1" maxOccurs="unbounded" ref="field"/>
    	</xs:sequence>
    	<xs:attribute ref="id" use="required"/>
  	</xs:complexType>
 </xs:element>

  <xs:element name="recordReference">
  	<xs:complexType>
  		<xs:attribute ref="id" use="required"/>
  	</xs:complexType>
  </xs:element>

  <xs:element name="dataFile">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element ref="fileNumber"/>
	      <xs:element ref="fileName"/>
  	    <xs:element minOccurs="0" maxOccurs="unbounded" ref="record"/>
    	  <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordReference"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>

  <xs:element name="parentFile">
  	<xs:complexType>
    	<xs:sequence>
        <xs:element name="parentNumber" type="xs:unsignedInt" />
        <xs:element name="parentName" type="xs:string" />
        <xs:element maxOccurs="unbounded" ref="dataFile"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="subfile">
  	<xs:complexType>
    	<xs:sequence>
      	<xs:element ref="fileNumber"/>
	      <xs:element ref="fileName"/>
  	    <xs:element minOccurs="0" maxOccurs="unbounded" ref="record"/>
    	  <xs:element minOccurs="0" maxOccurs="unbounded" ref="recordReference"/>
	    </xs:sequence>
  	</xs:complexType>
  </xs:element>
  
	<!-- output file format -->
  <xs:element name="patient">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="patientData">
			    <xs:complexType>
      	    <xs:sequence>
        	    <xs:element maxOccurs="2" ref="parentFile"/>
          	</xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="encounterData">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="visit">
                <xs:complexType>
                	<xs:sequence>
                  	<xs:element minOccurs="0" ref="parentFile"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="labData">
          <xs:complexType>
            <xs:sequence>
            	<xs:element minOccurs="0" ref="parentFile"/>
          	</xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    	<xs:attribute name="patientId"/>
    </xs:complexType>
  </xs:element>
</xs:schema>